.square0 {
  background-color: #d8ebeb;
  padding: 10px;
  position: relative;
}

h1 {
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: bolder;

}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 5px dotted #a1a1a1;
  color: #EAF6F6;
  height: 1px;
  width: 3%;
  margin: 50px auto;
}

.cloud-bottom {
  position: absolute;
}

.cloud-top {
  position: relative;
  left: 250px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
  font-weight: bold;
}

.img1 {
  width: 50%;
  float: left;
  margin-right: 30px;
}

.img2 {
  width: 50%;
  float: right;
  margin-left: 30px;
}

.skill-description2 {
  clear: right;
}

.helloparagraph {
  color: #40514E;
  margin-bottom: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.middle-container{
  margin: 30px;
}
.bottom-container{
  height: 100px;
  margin-top: 50px;
  background-color: #66BFBF;
  margin-bottom: 0;
  position: relative;
  bottom: 0;

}
.footer-link:link {
  text-decoration: none;
}

footer-link:visited {
  text-decoration: none;
}
.footer-link{
  position: relative;
  top: 20px;
  margin: 20px 20px 20px 20px;

  font-family: 'Merriweather', serif;
}
.copyright{
  color: #EAF6F6;
  margin: 50px auto auto auto;
  font-size: 10px;
  font-family: 'Merriweather', serif;

}
.contact-parag{
  margin-bottom: 50px;
}
